body{
    color: white;
    background-image: url(images/bluegradient1.png);
    background-size: contain;
    background-repeat: repeat;
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 19px;
}

@font-face {
    font-family: 'Raleway';
    src: url(fonts/raleway/Raleway-Thin.woff2) format('woff2'),
        url(fonts/raleway/Raleway-Thin.woff) format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bowlby One SC';
    src: url(fonts/raleway/BowlbyOneSC-Regular.woff2) format('woff2'),
        url(fonts/raleway/BowlbyOneSC-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.header{
    position: absolute;
}

h1{
    font-family: 'Bowlby One SC';
    font-size: 27px;
}

.text{
width: 1100px
}

h2{
  padding-left: 75px;
  padding-top: 20px;
  font-weight: 700;
    font-size: 19px;
}

.signs{
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 1;
    padding-top: 400px;
    padding-left: 75px;
}
.closed{
    grid-row: 1/2;
    grid-column: 1/2;
}
.interstate{
    grid-row: 1/2;
    grid-column: 2/3;
    padding-top: 20px;
    padding-left: 50px;
}
.speed{
    grid-row: 1/2;
    grid-column:3/4;
    padding-top: 20px;
    padding-left: 90px;
}


.container{
    display: grid;
    padding-top: 10px;
    grid-template-columns: 3;
    grid-template-rows: 5;
    text-align: center;
    align-items: center;
}

.usage{
    grid-row: 1/2;
    grid-column: 1/2;
}

.hopes{
    grid-row: 1/2;
    grid-column: 2/3;
}

.future{
    grid-row: 1/2;
    grid-column: 3/4;
}

.ans1{
    grid-row: 2/3;
    grid-column: 1/2;
    margin: 10px;
}

.ans2{
    grid-row: 2/3;
    grid-column: 2/3;
    margin: 10px;
}

.ans3{
    grid-row: 2/3;
    grid-column: 3/4;
    margin: 10px;
}


.pic3{
    grid-row: 3/4;
    grid-column: 1/2;
}

.pic4{
      grid-row: 3/4;
      grid-column: 2/3;
}

.pic8{
      grid-row: 3/4;
      grid-column: 3/4;
}
 
.label1{
    grid-row: 4/5;
    grid-column: 1/2;
    margin: 10px;
}

.label2{
    grid-row: 4/5;
    grid-column: 2/3;
    margin: 10px;
}

.label3{
    grid-row: 4/5;
    grid-column: 3/4;
    margin: 10px;
}

.grass{
    grid-row: 5/6;
    grid-column: 1/4;
    margin: 20px;
}

.home{
    position: fixed;
    left: 1170px;
    top: 510px;
}