body{
    background-image: url(images/bluegradient.png);
    background-size: cover;
    background-repeat: repeat;
}
.film{
    position: absolute;
    top: 150px;
    left: 170px;

}

.gif{
    position: absolute;
    top: 50px;
    left: 205px;

}